/* 主体模块 */
.main {
    width: 980px;
    height: 456px;
    margin: 10px 0 0 220px;
}

.main .focus {
    position: relative;
    float: left;
    width: 722px;
    height: 100%;
}

.main .focus .prev,
.main .focus .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
}

.main .focus .prev {
    float: right;
    left: 0;
    border-radius: 0 25px 25px 0;
}

.main .focus .next {
    float: right;
    right: 0;
    border-radius: 25px 0 0 25px;
}

.main .focus a {
    font-size: 16px;
}

.main .focus .promo-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 24px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 12px;
}

.main .focus .promo-nav li {
    float: left;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 6px;
}

#orange {
    background-color: #ff5000;
}

.main .newsflash {
    float: right;
    width: 248px;
    height: 100%;
}

.newsflash .news {
    height: 166px;
}

.newsflash .news .news-hd {
    height: 33px;
    border-bottom: 1px dotted #e8e8e7;
    padding: 0 15px;
}

.newsflash .news .news-hd h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
}

.newsflash .news .news-hd h4::after {
    content: '更多 ';
    font-family: 'icomoon';
    float: right;
}

.newsflash .news .news-bd ul li {
    margin: 8px 12px;
}

.newsflash .news .news-bd ul li a span {
    font-weight: 700;
}

.newsflash .news {
    border: 1px solid #e4e4e4;
}

.newsflash .lifeservice {
    height: 207px;
}

.newsflash .lifeservice ul li {
    float: left;
    width: 62px;
    height: 69px;
    border-left: 1px solid #e8e8e7;
    border-bottom: 1px solid #e8e8e7;
}

.newsflash .lifeservice ul li:nth-child(4n) {
    border-right: 1px solid #e8e8e7;
}

.newsflash .bargain {
    height: 76px;
    margin-top: 6px;
}

.lifeservice ul li a span {
    margin: 0 15px;
}

.lifeservice ul li a .three {
    margin: 0 10px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 楼层区域制作 */
/* 电器、手机、电脑 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;

}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_210 ul {
    padding-left: 12px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* a是有宽度的盒子，a需要转为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}

.brand {
    margin-top: 20px;
}